.logo,
.logo:focus {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 24px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--dark-clr);
  text-decoration: none;
  list-style: none;
  margin-right: auto;
  padding: 16px 0;

  @media screen and (min-width: 768px) {
    padding: 25px 0;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}

.web {
  color: var(--main-clr);
}

.footer-logo {
  color: var(--light-txt-clr);
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 20px;
  font-style: normal;
  padding: 0;

  @media screen and (min-width: 1200px) {
    margin: 0;
    margin-right: auto;
    margin-bottom: 20px;
  }
  
}
